body{
    background-color: #576CBC;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
header{
    background-color: #0B2447;
    text-align: center;
    padding: 20px;
    color: white;
    width: 100%;
    left: 0;
    top: 0;
}
nav{
    background-color: #19376D;
    overflow: hidden;
    width: 102.6%;
    left: 0;
    right: 0;
    
}

nav a{
    display: block;
    color: #f2f2f2;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    float: left;
    transition: background-color .5s;

}

nav a:hover{
    background-color: black;
    color: #576CBC;
    
}
footer{
    background-color: #A5D7E8;
    text-align: center;
    padding: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
main{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    border: 2px solid black;
}

main h2{
    text-align: center;
    font-size: 30px;
}

hr{
    color: black;
}

li{
    list-style: none;

}

.contenedor{
    width: 90%;
    max-width: 1200px;
    background: #05BFDB;
    margin: auto;
    padding: 20px;
}

.articulos{
    padding: 15px;
    border: 2px solid black;
    margin-bottom: 30px;

}

main li a{
    color: black;
}

.linea{
    background: black;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 5);
}

.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);

}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);

}

.light-box img{
    width: 75vw;
    max-height: 70vh;
}

.light-box:target{
    transform: scale(1);
}

.close{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    position: absolute;
    top: 60px;
    right: 60px;
    background: #851919;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next{
    display: block;
    background: #851919;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    
}